@value grayMedium, tealLight from '../../shared/colors.css';

input {
  flex-basis: 90%;
  font-size: 24px;
  color: tealLight;
  background-color: grayMedium;
  border: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px grayMedium inset; /* Change the color to your own background color */
  -webkit-text-fill-color: tealLight;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px grayMedium inset;
  -webkit-text-fill-color: tealLight;
}

input[type="checkbox"] {
  font-size: 14px;
}

.disabled {
  opacity: .2;
}

.disabled:hover {
  color: tealLight;
  background-color: grayMedium;
  opacity: .4;
}