<!DOCTYPE html>
<html>
<head>
  <title>Open Bracket [ An open community for lady developers</title>
  <link href='http://fonts.googleapis.com/css?family=ABeeZee|Roboto+Slab:400,700|Roboto' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<body>
  {{{body}}}
  <footer>
    <ul>
      <li>About</li>
      <li></li>
    </ul>
  </footer>
  <script type="text/javascript" src="/js/bundle.js"></script>
</body>
</html>
