<!DOCTYPE html>
<html>
<head>
  <title>Open Bracket [ An open community for lady developers</title>
  <link href='http://fonts.googleapis.com/css?family=Khula:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/app.css">
</head>
<body>
  <h1>[OPEN BRACKET</h1>
  {{{body}}}
  <script type="text/javascript" src="js/bundle.js"></script>
</body>
</html>