<!DOCTYPE html>
<html>
<head>
  <title>Open Bracket [ An open community for lady developers</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<body>
  {{{body}}}
  <footer>
   <span>Built by Jenn Creighton</span>
  </footer>
  <script type="text/javascript" src="/js/bundle.js"></script>
</body>
</html>
