//Global Button Styles
.ob-button{
  background-color: @green;
  color: @white;
  padding: 10px;
  cursor: pointer;
  border: 1px solid @green;
  text-transform: uppercase;

  &:hover{
    color: @green;
    background-color: @gray-light;
  }

  &.small{
    width: 60px;
    height: 20px;
  }
}