body{
  font-family: @khula;
  background-color: @app-color;

  h1{
    color: @pink-red;
    font-size: 32px;
  }

  section{
    h2{
      color: @blue;
    }

    button{
      background-color: @slate-blue;
    }
  }
}