// Global Styles
body{
  font-family: @abz;

  header{
    background-color: @white;
    border-top: 2px solid @blue;

    h1{
      display: inline-block;
      font-family: @museo;
      color: @pink-red;
      font-size: 32px;
      padding: 0 30px;

      a{
        text-decoration: none;

        &:visited{
          color: @pink-red;
        }
      }
    }

    nav{
      display: inline-block;

      ul{
        li{
          display: inline-block;
          padding-right: 30px;

          a{
            display: block;
            color: @grey;
            text-decoration: none;
            text-transform: uppercase;

            &:hover{
              color: @blue;
            }
          }

          &:last-child{
            padding-right: 0px;
          }
        }
      }
    }
  }

  .main{
    background-image: url('/img/code.png');
    color: @white;
    text-align: center;
    height: 480px;
    overflow: hidden;
  }

  ul{
    li{
      list-style: none;
    }
  }

  span{
    font-size: 12px;
  }

  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }

  ::-webkit-input-placeholder {
    font-size: 12px;
    padding: 2px 0 0 10px;
  }

// Errors & Questions
  .ob-error{
    font-size: 14px;
    font-weight: bold;
    color: @pink-red;
  }

  .ob-question{
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: @pink-red;
    color: @white;
    text-align: center;
    cursor: pointer;

    .ob-answer{
      display: none;
      background-color: @blue;
      color: @white;
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px;
      line-height: 18px;
    }

    &:hover{
      background-color: @blue;

      .ob-answer{
        display: block;
      }
    }
  }

// States
  .ob-state-hidden{
    display: none;
  }

  .ob-state-visible{
    display: block;
  }
}