form.ob-signup-form{
  position: relative;
  width: 400px;
  padding: 30px;
  margin: 0 auto;
  color: @white;

  h2{
    margin: 10px 0 36px 0;
  }

  .ob-input{
    text-align: left;
    margin-bottom: 30px;

    label{
      width: 100px;
      display: inline-block;
      margin-left: 7px;
    }

    input{
      width: 260px;
      color: @grey;
      margin-left: 7px;
    }
  }

  .ob-question{
    left: 12px;

    .ob-answer{
      top: -40px;
      left: 28px;
      width: 200px;
      height: 76px;
    }
  }

  .ob-error{
    position: relative;
    left: 126px;
    top: 8px;
  }

  .ob-button{
    position: relative;
    left: 180px;
    text-align: center;
    width: 80px;
  }
}