// Color Variables
@app-color: #F1F2F2;
@blue: #30ABB2;
@pink-red: #BF1652;
@grey: #546A76;
@slate-blue: #88A0A8;
@white: #fff;

// Font Variables
@khula: 'Khula', sans-serif;
@roboto-slab: 'Roboto Slab', serif;