@value tealLight, errorRed from '../../shared/colors.css';

.feedback {
/*  position: relative;
  top: 14px;
  left: 0;
  display: inline-block;*/
  display: none;
  font-size: 12px;
  color: tealLight;
}

.error {
  color: errorRed;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}