@value tealLight, errorRed from '../../shared/colors.css';

.feedback {
  font-size: 12px;
  color: tealLight;
}

.bottom {

}

.left {
  position: relative;
  top: 0;
  left: 0;
  display: inline-block;
}

.error {
  color: errorRed;
}

.left.visible {
  visibility: visible;
}

.left.hidden {
  visibility: hidden;
}